html {
    cursor: auto;
  cursor: url(./pictures/moto.png) 0 0, auto;
}

* {
    margin: 0;
    padding: 0;
}


#image {

    margin-top: 7rem;

}

body {
    font-size: 80%;
    letter-spacing: 0.15em;
    background-color: black;
    margin-left: 0px;
    margin-right: 25px;
}

nav {

    background-color: black;
}

.top_text {
    text-align: center;
}
#page {
    text-align: center;
    width: 101.6%;
    margin: 30px auto 30px 0px;
}

#page ul {

    border-top: 2px solid white;
    border-bottom: 2px solid white;

}

#logo {
    width: 30%;
    margin: 50px auto 25px auto;
}
ul {
    width: 100%;
    padding: 20px;
    margin: 0px auto 0px auto;
}
li {
    text-align: center;
    color: white;
    display: inline;
    margin: 0px 3px;
}
a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0px 0px 0px 18px;
}
a:hover {
    color: #cc3333;
}
p {
    font-size: 15px;
    font-family: "Courier New", Courier, monospace;
    color: white;
    text-align: center;
}
.footer {
    text-align: center;
    clear: both;
    padding: 0px 10px;
}
.footer p {
    font-size: 120%;
    text-align: center;
}
.header {
    padding: 0px 0px 0px 0px;
    height: 80px;
    width: 100%;
    position: absolute;
    top: 0px;
    margin: 0;
    z-index: 50;
}
.footer-text {
    padding: 15px;
    background-color: #edb4e2;
    color: black;
}
.footer-text-box {
    padding: 15px;
    color: white;
}
h2 {
    color: white;
}
ol {

    list-style: lower-roman;
    text-align: right;
}
h3 {
    color: white;
}
input.MyButton {
    float: center;
    width: 1000px;
    padding: 30px 0px, 90px, 0px;
    cursor: pointer;
    font-weight: bold;
    font-size: 150%;
    background: black;
    color: silver;
    border-style: outset;
    border-radius: 10px;
    -moz-box-shadow:: 6px 6px 5px #999;
    -webkit-box-shadow:: 6px 6px 5px #999;
    box-shadow:: 6px 6px 5px #999;
}
input.MyButton:hover {
    color: #cc3333;
    background: #000;
    border: 1px solid #fff;
}
.footer {
    margin-top: 50px;
    margin-right: -25px;
    clear: both;
    padding: 0px 10px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

#bikes {
    text-align: center;
}

#bikes a:hover {

    background-color: #6c757d;

}
.dropdown {
    margin-left: 20rem;
}

#name {
    margin-right: auto;
}
