html {
    color: white;
    cursor: auto;
    cursor: url(./pictures/moto.png) 0 0, auto;
}
* {
    color: white;
    margin: 0;
    padding: 0;
}
.description {
    text-align: left;
    word-break: break-all;
    word-wrap: break-word;
}
a {
    color: white;
}
img {
    max-width: 100%;
}
#image {
    margin-top: 7rem;
    width: 100%;
}
#image div {
    padding-left: 27%;
}
#reviews {
    width: 50%;
}
body {
    color: white;
    font-size: 80%;
    letter-spacing: 0.15em;
    background-color: black;
    margin-left: 0px;
    margin-right: 25px;
}
nav {
    padding: 0;
    width: 101.7%;
    background-color: black;
}
.top_text {
    text-align: center;
}
#page {
    text-align: center;
    width: 101.6%;
    margin: 30px auto 30px 0px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
#logo {
    width: 30%;
    margin: 50px auto 25px auto;
}
ul {
    width: 100%;
    padding: 20px;
    margin: 0px auto 0px auto;
}
li {
    text-align: center;
    display: inline;
    margin: 0px 3px;
}
a {
    text-transform: uppercase;
    text-decoration: none;
}
a:hover {
    color: #cc3333;
}
p {
    font-size: 15px;
    font-family: "Courier New", Courier, monospace;
    color: white;
    text-align: center;
}
.footer {
    text-align: center;
    clear: both;
}
.footer p {
    font-size: 120%;
    text-align: center;
}
.header {
    padding: 0px 0px 0px 0px;
    height: 80px;
    width: 100%;
    position: absolute;
    top: 0px;
    margin: 0;
    z-index: 50;
}
.footer-text {
    padding: 15px;
    background-color: #edb4e2;
    color: black;
}
.footer-text * {
    color: black;
}
ol {
    list-style: lower-roman;
    text-align: right;
}
.footer {
    width: 101.5%;
    color: white;
    margin-top: 50px;
    clear: both;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
#bikes {
    text-align: center;
    margin-left: 1%;
}
#dropdown, .dropdown {
    margin-left: 33rem;
}
#name {
    margin-right: auto;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto max-content;
  padding: 10px;
  padding-left: 0;
}
#contact {
     display: grid;
     grid-template-columns: auto auto;
     padding: 10px;
     padding-left: 0;
}
.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 20px;
  text-align: left;
}
#select {
    display: none;
    margin: 0;
}
.navigation {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 9%;
}

#list {
    display: flex;
}
#alt {
    display: none;
}
#menu {
    display: none;
}
fieldset {
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 2px solid black;
  border-radius: 10px;
}
legend {
    width: 9rem;
}
@media only screen and (max-width: 1400px) {
    #page {
        width: 100%;
    }
    #image {
        width: 100%;
    }
    body {
        width: 100%;
        margin: 0;
    }
    .footer-text {
        width: 97%;
    }
    .footer {
        width: 100%;
        font-size: 75%;
    }
    .dropdown {
        width: 90%;
        margin-left: 3%;
    }
    .navigation {
        width: 90%;
        margin: 0;
    }
    .navigation a {
        padding: 0;
    }
    nav ul {
        padding: 0;
    }
    .seperator {
        display: none;
    }
    #bikes a{
        padding: 0rem;
    }
    #bikes .row {
        width: 100%;
    }
    #bikes .col-6 {
        margin-bottom: 3rem;
    }
    #dropdown {
        margin: 0;
        width: 24%;
    }
    #image div {
        margin-right: 0;
        padding-left: 20%;
    }
    #image {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    #name {
        font-size: 100%;
    }
    #price {
        font-size: 100%;
    }
    .grid-container {
        grid-template-columns: auto auto;
    }
    #detail p {
        font-size: 70%;
    }
}
@media only screen and (max-width: 856px) {
    #list {
        display: none;
    }
    #select {
        margin-left: 0;
        display: block;
    }
    #menu {
       width: 1%;
       margin-left: 6%;
       display: block;
    }
    #list {
        display: none;
    }
    #alt {
        width: 35%;
        display: block;
    }
    #Form {
            padding: 5%;
            margin: 0;
            width: 100%;
    }
    #Form *{
        color: black;
    }
    #image div {
        margin-right: 0;
        padding-left: 20%;
    }
}
@media only screen and (min-width: 628.75px) and (max-width: 855px) {
    #select {
        margin-left: 9%;
        display: block;
    }
    #menu {
       width: 1%;
       margin-left: 6%;
       display: block;
    }
    #list {
        display: none;
    }
    #alt {
        width: 35%;
        display: block;
    }
    #Form {
            padding: 5%;
            margin-left: 25%;
            width: 50%;
    }
    #Form *{
        color: black;
    }
    .navigation a {
        padding: 0;
        padding-left: 50%;
    }
    #image div {
        margin-right: 0;
        margin-left: 10%;
        padding-left: 20%;
    }
}
@media only screen and (max-width: 520px) {
    #reviews {
        margin: 0;
        width: 100%;
    }
}
@media only screen and (max-width: 484px) {
    #contact{
        grid-template-columns: auto;
    }
    #detail h1{
       font-size: 250%;
    }
}
@media only screen and (min-width: 350px) {
    .dropdown {
        margin-left: 10%;
    }
}
@media only screen and (max-width: 320px) {
    #image div {
        padding: 10%;
    }
}
@media only screen and (min-width: 350px) and (max-width: 1400px) {
    .navigation a {
        padding-left: 20%;
    }
}