#Form {

    color: black;
    padding: 3rem;
    margin-top: 2rem;
    padding: 5%;
    margin-left: 25%;
    width: 50%;
}
#Form *{
    color: black;
}

input {

    width: 100%;

}

select {

    width: 100%;

}

textArea {
    width: 100%;
}

#label {
    color: grey;
    font-size: 1rem;
}

#Form button {
    border: 2px solid black;
    border-radius: 2rem;
}

#Form button:hover {
    color: white;
    background-color: #75787a;
    transition: all .1s ease-in;
}
