<div class="footer">
    <div class="container">
        <div>

            <ol id="navigation">
                <li>
                    <a href="/" class="on">Home</a>
                </li>
                <br>
                <li>
                    <a href="/newShowcase">New Showcase</a>
                </li>
                <br>
                <li>
                    <a href="/inventory">Inventory</a>
                </li>
                <br>
                <li>
                    <a href="/services">Services</a>
                </li>
                <br>
                <li>
                    <a href="/BikeForSale">Sell your bike</a>
                </li>
                <br>
                <li>
                    <a href="/SubmitReview">Submit a Review</a>
                </li>
            </ol>

        </div>
        <div>
            <p class="footer-text">
                <b>Address</b>
                <br> 301 N Main St
                <br> Water Valley, MS 38965
            </p>
            <p class="footer-text">
                <b>Contact</b>
                <br> Call 555.555.1234
                <br> to set up a service appointment.
            </p>
        </div>

        <div>
            <h2>About Us</h2>
            <p>
                Welcome to Diamond Motors, the place where you can get the best deal on any Honda, Yamaha, Kawasaki, and Harley vehicles
                to fit your needs.
            </p>
        </div>
    </div>

    <div class="container">
        <p>
            <a href="/">Legal Information</a> |
            <a href="/">Privacy Policy</a> |
            <a href="/">Copyright</a>|
            <a href="/reviews">Reviews</a>
        </p>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/js/inventory.js"></script>
<script src="/js/javascript.js"></script>
</html>
