{{> header}}
<div id="page">

    <div id="list">
        <ul id="navigation">
            <li>
                <a href="/" class="on">Home</a>
            </li>
            <li>
                <a href="/newShowcase">New Showcase</a>
            </li>
            <li>
                <a href="/inventory">Inventory</a>
            </li>
            <li>
                <a href="/services">Services</a>
            </li>
            <li>
                <a href="/BikeForSale">Sell your bike</a>
            </li>
            <li>
                <a href="/SubmitReview">Submit a Review</a>
            </li>
        </ul>
    </div>
    <div id="select" class="container">
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a href="/" class="dropdown-item">Home</a>
                <a href="/newShowcase" class="dropdown-item">New Showcase</a>
                <a href="/inventory" class="dropdown-item">Inventory</a>
                <a href="/services" class="dropdown-item">Services</a>
                <a href="/BikeForSale" class="dropdown-item">Sell your bike</a>
                <a href="/SubmitReview" class="dropdown-item">Submit a Review</a>
            </div>
        </div>
    </div>
</div>
<div>

    <div id="bikes">

        <ul class="nav pl-3 mb-3 border-bottom" id="pills-tab" role="tablist">
            <div id="list">
                <li class="nav-item border border-left-0 border-top-0 border-bottom-0 pr-3 mr-3">
                    <a href="/Harley" class="nav-link bg-secondary rounded">All Types</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bg-secondary rounded" href="/Harley/Commuting" role="tab">Commuting</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bg-secondary rounded" href="/Harley/Cruising" role="tab">Cruising</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bg-secondary rounded" href="/Harley/Electric" role="tab">Electric</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bg-secondary rounded" href="/Harley/Off0-road" role="tab">Off-road</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bg-secondary rounded" href="/Harley/Sport" role="tab">Sport</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bg-secondary rounded" href="/Harley/Travel" role="tab">Travel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bg-secondary rounded" href="/Harley/Concept" role="tab">Concept</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bg-secondary rounded" href="/Harley/Utility" role="tab">Utility</a>
                </li>
            </div>
            <div id="menu">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Types
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a href="/Harley" class="nav-link bg-secondary rounded">All Types</a>
                    <a class="nav-link bg-secondary rounded" href="/Harley/Commuting" role="tab">Commuting</a>
                    <a class="nav-link bg-secondary rounded" href="/Harley/Cruising" role="tab">Cruising</a>
                    <a class="nav-link bg-secondary rounded" href="/Harley/Electric" role="tab">Electric</a>
                    <a class="nav-link bg-secondary rounded" href="/Harley/Off0-road" role="tab">Off-road</a>
                    <a class="nav-link bg-secondary rounded" href="/Harley/Sport" role="tab">Sport</a>
                    <a class="nav-link bg-secondary rounded" href="/Harley/Travel" role="tab">Travel</a>
                    <a class="nav-link bg-secondary rounded" href="/Harley/Concept" role="tab">Concept</a>
                    <a class="nav-link bg-secondary rounded" href="/Harley/Utility" role="tab">Utility</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Price
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/Harley/2/1000">Less than 1000</a>
                    <a class="dropdown-item" href="/Harley/2/2000">Less than 2000</a>
                    <a class="dropdown-item" href="/Harley/2/3000">Less than 3000</a>
                    <a class="dropdown-item" href="/Harley/2/4000">Less than 4000</a>
                    <a class="dropdown-item" href="/Harley/2/5000">Less than 5000</a>
                    <a class="dropdown-item" href="/Harley/2/6000">Less than 6000</a>
                    <a class="dropdown-item" href="/Harley/2/7000">Less than 7000</a>
                    <a class="dropdown-item" href="/Harley/2/8000">Less than 8000</a>
                    <a class="dropdown-item" href="/Harley/2/9000">Less than 9000</a>
                    <a class="dropdown-item" href="/Harley/2/10000">Less than 10000</a>
                </div>
            </div>
        </ul>
        {{^bikes}}
            <h3>NO BIKES</h3>
        {{/bikes}}
        <div class="row">
            {{#bikes}}
                <div class="col-6 p-3">
                    <a href="/{{id}}">
                        <img src="{{image}}" width="100%" height="90%" alt="#">
                        <h3>${{price}}</h3>
                        <p class="text-secondary">{{type}}</p>
                    </a>
                </div>
            {{/bikes}}
        </div>
    </div>

</div>
{{> footer}}