<!DOCTYPE html>
<html>

<head>
    <title>
        Motorcycle Club
    </title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/960gs/0/960.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/css/home.css" rel="stylesheet" />
</head>

<body>


<nav class="navbar navbar-expand-lg fixed-top">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav p-3">
            <li class="nav-item active">
                <a class="nav-link" href="#">Honda |<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Kawasaki |</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Harley |</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Yamaha |</a>
            </li>
        </ul>
    </div>
</nav>

<div id="image" class="container-lg">
    <div class="col-12 row">

        <span class="mx-auto"><img src="/pictures/images.png" alt="Bowles Honda" /></span>

    </div>
</div>

<div id="page">

    <div>
        <ul id="navigation">
            <li>
                <a href="/" class="on">Home</a>
            </li>
            <li>
                <a href="#">New Showcase</a>
            </li>
            <li>
                <a href="/inventory">Inventory</a>
            </li>
            <li>
                <a href="#">Services</a>
            </li>
            <li>
                <a href="/BikeForSale">Sell your bike</a>
            </li>
            <li>
                <a href="#">Submit a Review</a>
            </li>
        </ul>
    </div>
</div>
<div>

    <div id="bikes"Harley/2>

        <ul class="nav pl-3 mb-3 border-bottom" id="pills-tab" role="tablist">
            <li class="nav-item border border-left-0 border-top-0 border-bottom-0 pr-3 mr-3">
                <a href="/Harley" class="nav-link bg-secondary rounded">All Types</a>
            </li>
            <li class="nav-item">
                <a class="nav-link bg-secondary rounded" href="/Harley/Street" role="tab">Street</a>
            </li>
            <li class="nav-item">
                <a class="nav-link bg-secondary rounded" href="/Harley/Sportster" role="tab">Sportster</a>
            </li>
            <li class="nav-item">
                <a class="nav-link bg-secondary rounded" href="/Harley/Softail" role="tab">Softail</a>
            </li>
            <li class="nav-item">
                <a class="nav-link bg-secondary rounded" href="/Harley/Touring" role="tab">Touring</a>
            </li>
            <li class="nav-item">
                <a class="nav-link bg-secondary rounded" href="/Harley/Trike" role="tab">Trike</a>
            </li>
            <li class="nav-item">
                <a class="nav-link bg-secondary rounded" href="/Harley/CVO" role="tab">CVO</a>
            </li>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Price
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/Harley/2/2000">Less than 2000</a>
                    <a class="dropdown-item" href="/Harley/2/5000">Less than 5000</a>
                    <a class="dropdown-item" href="/Harley/2/10000">Less than 10000</a>
                    <a class="dropdown-item" href="/Harley/2/30000">Less than 30000</a>
                    <a class="dropdown-item" href="/Harley/2/50000">Less than 50000</a>
                    <a class="dropdown-item" href="/Harley/2/70000">Less than 70000</a>
                    <a class="dropdown-item" href="/Harley/2/100000">Less than 100000</a>
                    <a class="dropdown-item" href="/Harley/2/200000">Less than 200000</a>
                </div>
            </div>
        </ul>
        {{^bikes}}
            <h3>NO BIKES</h3>
        {{/bikes}}
        <div class="row">
            {{#bikes}}
                <div class="col-6 p-3">
                    <img src="{{image}}" width="100%" height="90%" alt="#">
                    <h3>{{brand}}</h3>
                    <p>{{price}}</p>
                    <p class="text-secondary">{{type}}</p>
                </div>
            {{/bikes}}
        </div>
    </div>

</div>
<div class="footer">
    <div class="container_12">
        <div class="grid_4">
            <p class="footer-text">
                <b>Address</b>
                <br> 301 N Main St
                <br> Water Valley, MS 38965
            </p>
            <p class="footer-text">
                <b>Contact</b>
                <br> Call 555.555.1234
                <br> to set up a service appointment.
            </p>
        </div>
        <div class="grid_12">
            <h2>About Us</h2>
            <p>
                Welcome to Diamond Motors, the place where you can get the best deal on any Honda, Yamaha, Kawasaki, and Harley vehicles
                to fit your needs.
            </p>
        </div>
        <div>

            <ol id="navigation">
                <li>
                    <a href="web.html">Home</a>
                </li>
                <br>
                <li>
                    <a href="new_showcase.html">New Showcase</a>
                </li>
                <br>
                <li>
                    <a href="#">Inventory</a>
                </li>
                <br>
                <li>
                    <a href="#">Services</a>
                </li>
                <br>
                <li>
                    <a href="#">Submit a Review</a>
                </li>
                <br>
                <li>
                    <a href="terms.html">Terms and Conditions</a>
                </li>
                <br>
                <li>
                    <a href="privacy.html">Privacy Policy</a>
                </li>
                <br>
            </ol>

        </div>
    </div>

    <div class=" container_12 ">
        <p class="grid_12 ">
            <a href=" ">Legal Information</a> |
            <a href="privacy.html">Privacy Policy</a> |
            <a href=" ">Copyright</a>
        </p>
    </div>
</div>
</body>
<script src="/js/inventory.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
