<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        Motorcycle Club
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/css/home.css" rel="stylesheet"/>
    <link href="/css/newBike.css" rel="stylesheet"/>
    <link href="/css/bike.css" rel="stylesheet"/>
</head>

<body>
<nav  class="navbar navbar-expand-lg sticky-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="container collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <div class="d-flex">

                <li class="nav-item active">
                    <p><a class="nav-link" href="/Honda">Honda <span class="seperator">|</span><span class="sr-only">(current)</span></a></p>
                </li>

                <li class="nav-item">
                    <p><a class="nav-link" href="/Kawasaki">Kawasaki <span class="seperator">|</span></a></p>
                </li>
                <li class="nav-item">
                    <p><a class="nav-link" href="/Harley">Harley <span class="seperator">|</span></a></p>
                </li>
                <li class="nav-item">
                    <p><a class="nav-link" href="/Yamaha">Yamaha <span class="seperator">|</span></a></p>
                </li>

            </div>
        </ul>
    </div>
</nav>

<div id="image" class="container-lg">
    <div class="container">

        <span class="mx-auto"><img src="/pictures/images.png" alt="Bowles Honda" /></span>

    </div>
</div>
