<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        Motorcycle Club
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/css/home.css" rel="stylesheet"/>
</head>

<body>

<nav  class="navbar navbar-expand-lg sticky-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="container collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <div class="d-flex">

                <li class="nav-item active">
                    <p><a class="nav-link" href="/Honda">Honda <span class="seperator">|</span><span class="sr-only">(current)</span></a></p>
                </li>

                <li class="nav-item">
                    <p><a class="nav-link" href="/Kawasaki">Kawasaki <span class="seperator">|</span></a></p>
                </li>
                <li class="nav-item">
                    <p><a class="nav-link" href="/Harley">Harley <span class="seperator">|</span></a></p>
                </li>
                <li class="nav-item">
                    <p><a class="nav-link" href="/Yamaha">Yamaha <span class="seperator">|</span></a></p>
                </li>

            </div>
        </ul>
    </div>
</nav>

<div id="image" class="container-lg">
    <div class="container">

        <span class="mx-auto"><img src="pictures/images.png" alt="Bowles Honda" /></span>

    </div>
</div>

<div id="page">

    <div id="list">
        <ul id="navigation">
            <li>
                <a href="/" class="on">Home</a>
            </li>
            <li>
                <a href="/newShowcase">New Showcase</a>
            </li>
            <li>
                <a href="/inventory">Inventory</a>
            </li>
            <li>
                <a href="/services">Services</a>
            </li>
            <li>
                <a href="/BikeForSale">Sell your bike</a>
            </li>
            <li>
                <a href="/SubmitReview">Submit a Review</a>
            </li>
        </ul>
    </div>
    <div id="select" class="container">
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a href="/" class="dropdown-item">Home</a>
                <a href="/newShowcase" class="dropdown-item">New Showcase</a>
                <a href="/inventory" class="dropdown-item">Inventory</a>
                <a href="/services" class="dropdown-item">Services</a>
                <a href="/BikeForSale" class="dropdown-item">Sell your bike</a>
                <a href="/SubmitReview" class="dropdown-item">Submit a Review</a>
            </div>
        </div>
    </div>
</div>
<div>

    <div id="bikes">

        <ul class="nav pl-3 mb-3 border-bottom" id="pills-tab" role="tablist">
            <div id="list">
                <li class="nav-item border border-left-0 border-top-0 border-bottom-0 pr-3 mr-3">
                    <a href="/inventory" class="nav-link bg-secondary rounded">All Brands</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link bg-secondary rounded" id="honda-tab"  href="/inventory/Honda" role="tab" aria-controls="honda">Honda</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link bg-secondary rounded" id="kawasaki-tab"  href="/inventory/Kawasaki" role="tab" aria-controls="kawasaki">Kawasaki</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link bg-secondary rounded" id="harley-tab"  href="/inventory/Harley" role="tab" aria-controls="harley">Harley</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link bg-secondary rounded" id="yamaha-tab"  href="/inventory/Yamaha" role="tab" aria-controls="yamaha">Yamaha</a>
                </li>
            </div>
            <div id="alt">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Brands
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="nav-link bg-secondary rounded" id="honda-tab"  href="/inventory/Honda" role="tab" aria-controls="honda">Honda</a>
                    <a class="nav-link bg-secondary rounded" id="kawasaki-tab"  href="/inventory/Kawasaki" role="tab" aria-controls="kawasaki">Kawasaki</a>
                    <a class="nav-link bg-secondary rounded" id="yamaha-tab"  href="/inventory/Yamaha" role="tab" aria-controls="yamaha">Yamaha</a>
                    <a class="nav-link bg-secondary rounded" id="harley-tab"  href="/inventory/Harley" role="tab" aria-controls="harley">Harley</a>
                </div>
            </div>
            <div id="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Price
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/inventory/3/2000">Less than 2000</a>
                    <a class="dropdown-item" href="/inventory/3/5000">Less than 5000</a>
                    <a class="dropdown-item" href="/inventory/3/10000">Less than 10000</a>
                    <a class="dropdown-item" href="/inventory/3/30000">Less than 30000</a>
                    <a class="dropdown-item" href="/inventory/3/50000">Less than 50000</a>
                    <a class="dropdown-item" href="/inventory/3/70000">Less than 70000</a>
                    <a class="dropdown-item" href="/inventory/3/100000">Less than 100000</a>
                    <a class="dropdown-item" href="/inventory/3/200000">Less than 200000</a>
                </div>
            </div>
            <div class="dropright ml-3">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Types
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/inventory/2/Touring">Touring</a>
                    <a class="dropdown-item" href="/inventory/2/Adventure">Adventure</a>
                    <a class="dropdown-item" href="/inventory/2/Cruiser">Cruiser</a>
                    <a class="dropdown-item" href="/inventory/2/Standard">Standard</a>
                    <a class="dropdown-item" href="/inventory/2/Sport">Sport</a>
                    <a class="dropdown-item" href="/inventory/2/Neo-SportsCafe">Neo-Sports cafe</a>
                    <a class="dropdown-item" href="/inventory/2/MiniMoto">MiniMoto</a>
                    <a class="dropdown-item" href="/inventory/2/Nakes">Naked</a>
                    <a class="dropdown-item" href="/inventory/2/Off-Road">Off-Road</a>
                    <a class="dropdown-item" href="/inventory/2/MotorCross">Motorcross</a>
                    <a class="dropdown-item" href="/inventory/2/Cross-Country">Cross-Country</a>
                    <a class="dropdown-item" href="/inventory/2/Trail">Trail</a>
                    <a class="dropdown-item" href="/inventory/2/Heritage">Heritage</a>
                    <a class="dropdown-item" href="/inventory/2/Street">Street</a>
                    <a class="dropdown-item" href="/inventory/2/Sportster">Sportster</a>
                    <a class="dropdown-item" href="/inventory/2/Softail">Softail</a>
                    <a class="dropdown-item" href="/inventory/2/Trike">Trike</a>
                    <a class="dropdown-item" href="/inventory/2/CVO">CVO</a>
                </div>
            </div>
        </ul>
        {{^bikes}}
            <h3>NO BIKES</h3>
        {{/bikes}}
        <div class="row">
        {{#bikes}}
                <div class="col-6 p-3">
                    <a href="/{{id}}">
                        <img src="{{image}}" width="100%" height="90%" alt="#">
                        <h3>${{price}}</h3>
                        <p class="text-secondary">{{type}}</p>
                    </a>
                </div>
        {{/bikes}}
        </div>
    </div>

</div>
<div class="footer">
    <div>
        <div>
            <p class="footer-text">
                <b>Address</b>
                <br> 301 N Main St
                <br> Water Valley, MS 38965
            </p>
            <p class="footer-text">
                <b>Contact</b>
                <br> Call 555.555.1234
                <br> to set up a service appointment.
            </p>
        </div>
        <div>

            <ol id="navigation">
                <li>
                    <a href="/" class="on">Home</a>
                </li>
                <br>
                <li>
                    <a href="/newShowcase">New Showcase</a>
                </li>
                <br>
                <li>
                    <a href="/inventory">Inventory</a>
                </li>
                <br>
                <li>
                    <a href="/services">Services</a>
                </li>
                <br>
                <li>
                    <a href="/BikeForSale">Sell your bike</a>
                </li>
                <br>
                <li>
                    <a href="/SubmitReview">Submit a Review</a>
                </li>
            </ol>

        </div>
        <div>
            <h2>About Us</h2>
            <p>
                Welcome to Diamond Motors, the place where you can get the best deal on any Honda, Yamaha, Kawasaki, and Harley vehicles
                to fit your needs.
            </p>
        </div>
    </div>

    <div class="container">
        <p>
            <a href="">Legal Information</a> |
            <a href="">Privacy Policy</a> |
            <a href="">Copyright</a>
        </p>
    </div>
</div>
</body>
<script src="/js/inventory.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
