{{> header}}
    <div id="page">

        <div id="list">
            <ul id="navigation">
                <li>
                    <a href="/" class="on">Home</a>
                </li>
                <li>
                    <a href="/newShowcase">New Showcase</a>
                </li>
                <li>
                    <a href="/inventory">Inventory</a>
                </li>
                <li>
                    <a href="/services">Services</a>
                </li>
                <li>
                    <a href="/BikeForSale">Sell your bike</a>
                </li>
                <li>
                    <a href="/SubmitReview">Submit a Review</a>
                </li>
            </ul>
        </div>
        <div id="select" class="container">
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menu
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a href="/" class="dropdown-item">Home</a>
                    <a href="/newShowcase" class="dropdown-item">New Showcase</a>
                    <a href="/inventory" class="dropdown-item">Inventory</a>
                    <a href="/services" class="dropdown-item">Services</a>
                    <a href="/BikeForSale" class="dropdown-item">Sell your bike</a>
                    <a href="/SubmitReview" class="dropdown-item">Submit a Review</a>
                </div>
            </div>
        </div>
    </div>
    <div class="navigation" style="border: none">
            <div>
                <a href="/Honda" class="on">
                    <img src="pictures/honda.png" alt="Honda" width="300" height="300">
                </a>
            </div>
            <div>
                <a href="/Kawasaki">
                    <img src="pictures/kawasaki-racing-png-logo-2.png" alt="Kawasaki" width="350" height="250">
                </a>
            </div>
            <div>
                <a href="/Harley">
                    <img src="pictures/Harley-Davidson_logo.svg.png" alt="harley" width="340" height="300">
                </a>
            </div>
            <div>
                <a href="/Yamaha">
                    <img src="pictures/y-logo.png" alt="Yamaha" width="350" height="300">
                </a>
            </div>
        </ul>
    </div>
    {{> footer}}