{{> header}}
<div id="page">

    <div id="list">
        <ul id="navigation">
            <li>
                <a href="/" class="on">Home</a>
            </li>
            <li>
                <a href="/newShowcase">New Showcase</a>
            </li>
            <li>
                <a href="/inventory">Inventory</a>
            </li>
            <li>
                <a href="/services">Services</a>
            </li>
            <li>
                <a href="/BikeForSale">Sell your bike</a>
            </li>
            <li>
                <a href="/SubmitReview">Submit a Review</a>
            </li>
        </ul>
    </div>
    <div id="select" class="container">
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a href="/" class="dropdown-item">Home</a>
                <a href="/newShowcase" class="dropdown-item">New Showcase</a>
                <a href="/inventory" class="dropdown-item">Inventory</a>
                <a href="/services" class="dropdown-item">Services</a>
                <a href="/BikeForSale" class="dropdown-item">Sell your bike</a>
                <a href="/SubmitReview" class="dropdown-item">Submit a Review</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div id="Form" class="container border border-dark rounded bg-white">
        <form action="/inventory" method="POST">
            <div class="form-group">
                <label for="image">Image:</label>
                <input type="text" name="image" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="brand">Brand:</label>
                <select name="brand" id="brand" class="form-control" required>
                    <option selected="selected">Honda</option>
                    <option>Kawasaki</option>
                    <option>Harley</option>
                    <option>Yamaha</option>
                </select>
            </div>
            <div class="form-group">
                <label for="type">Type:</label>
                <select name="type" id="mySelect" class="form-control" required>
                </select>
            </div>
            <div class="form-group">
                <label for="year">Year:</label>
                <input type="text" name="year" class="form-control" required>
            </div>
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label for="city">City:</label>
                    <input name="city" type="text" class="form-control" id="City" required>
                </div>
                <div class="form-group col-md-3">
                    <label for="state">State:</label>
                    <select name="state" id="state" class="form-control" required>
                        <option selected>MS.</option>
                        <option>AL.</option>
                        <option>MT.</option>
                        <option>TN.</option>
                        <option>KS.</option>
                        <option>CA.</option>
                        <option>IL.</option>
                        <option>MI.</option>
                        <option>TX.</option>
                        <option>LA.</option>
                        <option>FL.</option>
                        <option>WV.</option>
                        <option>ND.</option>
                        <option>SD.</option>
                        <option>WY.</option>
                        <option>WA.</option>
                        <option>ID.</option>
                        <option>MO.</option>
                        <option>PA.</option>
                        <option>AK.</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="date">Current Date:</label>
                    <input type="date" name="date" class="form-control" required>
                </div>
            </div>
            <div class="form-group">
                <label for="color">Color:</label>
                <input type="text" name="color" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="mileage">Mileage:</label>
                <input type="number" name="mileage" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="condition">Condition:</label>
                <input type="text" name="condition" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="price">Price:</label>
                <input type="number" name="price" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="name">Full Name:</label>
                <input type="text" name="name" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="email">E-mail:</label>
                <input type="emial" name="email" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="phone">Phone Number:</label>
                <input type="text" name="phone" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea name="description" class="form-control" required></textarea>
            </div>
            <button class="btn" type="submit">Submit</button>
        </form>
    </div>
</div>
{{> footer}}