{{> header}}
<div id="page">

    <div id="list">
        <ul id="navigation">
            <li>
                <a href="/" class="on">Home</a>
            </li>
            <li>
                <a href="/newShowcase">New Showcase</a>
            </li>
            <li>
                <a href="/inventory">Inventory</a>
            </li>
            <li>
                <a href="/services">Services</a>
            </li>
            <li>
                <a href="/BikeForSale">Sell your bike</a>
            </li>
            <li>
                <a href="/SubmitReview">Submit a Review</a>
            </li>
        </ul>
    </div>
    <div id="select" class="container">
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a href="/" class="dropdown-item">Home</a>
                <a href="/newShowcase" class="dropdown-item">New Showcase</a>
                <a href="/inventory" class="dropdown-item">Inventory</a>
                <a href="/services" class="dropdown-item">Services</a>
                <a href="/BikeForSale" class="dropdown-item">Sell your bike</a>
                <a href="/SubmitReview" class="dropdown-item">Submit a Review</a>
            </div>
        </div>
    </div>
</div>
<div>
    <div id="reviews" class="container">
        {{^reviews}}
            <h1>No Reviews</h1>
        {{/reviews}}
        {{#reviews}}
            <div class="d-flex border border-top-0 border-left-0 border-right-0 mb-3">
                <h3 id="name">{{name}}</h3>
                <h3>{{rating}}/5</h3>
            </div>
            <p style="word-break: break-all">{{review}}</p>
            <p>Posted On: {{date}}</p>
        {{/reviews}}
    </div>
</div>
{{> footer}}