{{> header}}
<div id="page">

    <div id="list">
        <ul id="navigation">
            <li>
                <a href="/" class="on">Home</a>
            </li>
            <li>
                <a href="/newShowcase">New Showcase</a>
            </li>
            <li>
                <a href="/inventory">Inventory</a>
            </li>
            <li>
                <a href="/services">Services</a>
            </li>
            <li>
                <a href="/BikeForSale">Sell your bike</a>
            </li>
            <li>
                <a href="/SubmitReview">Submit a Review</a>
            </li>
        </ul>
    </div>
    <div id="select" class="container">
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a href="/" class="dropdown-item">Home</a>
                <a href="/newShowcase" class="dropdown-item">New Showcase</a>
                <a href="/inventory" class="dropdown-item">Inventory</a>
                <a href="/services" class="dropdown-item">Services</a>
                <a href="/BikeForSale" class="dropdown-item">Sell your bike</a>
                <a href="/SubmitReview" class="dropdown-item">Submit a Review</a>
            </div>
        </div>
    </div>
</div>
<div class="container">

    <div id="Form" class="container border border-dark rounded w-100 m-0" style="background-color: #f5efec;">
        <form action="/reviews" method="POST">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="name">Name:</label>
                    <input type="text" name="name" class="form-control" required>
                </div>
                <div class="form-group col-md-3">
                    <label for="date">Current Date:</label>
                    <input type="date" name="date" class="form-control" required>
                </div>
                <div class="form-group col-md-3">
                    <label for="rating">Rating:</label>
                    <input type="number" step=".1" max="5" name="rating" class="form-control" required>
                </div>
            </div>
            <div class="form-group">
                <label for="review">Review:</label>
                <textarea name="review" class="form-control" required></textarea>
            </div>
            <button class="btn" type="submit">Submit</button>
        </form>
    </div>


</div>
{{> footer}}