{{> header}}
<div id="page">

    <div id="list">
        <ul id="navigation">
            <li>
                <a href="/" class="on">Home</a>
            </li>
            <li>
                <a href="/newShowcase">New Showcase</a>
            </li>
            <li>
                <a href="/inventory">Inventory</a>
            </li>
            <li>
                <a href="/services">Services</a>
            </li>
            <li>
                <a href="/BikeForSale">Sell your bike</a>
            </li>
            <li>
                <a href="/SubmitReview">Submit a Review</a>
            </li>
        </ul>
    </div>
    <div id="select" class="container">
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a href="/" class="dropdown-item">Home</a>
                <a href="/newShowcase" class="dropdown-item">New Showcase</a>
                <a href="/inventory" class="dropdown-item">Inventory</a>
                <a href="/services" class="dropdown-item">Services</a>
                <a href="/BikeForSale" class="dropdown-item">Sell your bike</a>
                <a href="/SubmitReview" class="dropdown-item">Submit a Review</a>
            </div>
        </div>
    </div>
</div>
<div>

    <div id="bikes"Yamaha>

        <ul class="nav pl-3 mb-3 border-bottom" id="pills-tab" role="tablist">
            <div id="list">
                <li class="nav-item border border-left-0 border-top-0 border-bottom-0 pr-3 mr-3">
                    <a href="/Yamaha" class="nav-link bg-secondary rounded">All Types</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bg-secondary rounded" href="/Yamaha/Motorcross" role="tab">Motorcross</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bg-secondary rounded" href="/Yamaha/Crosscountry" role="tab">Cross country</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bg-secondary rounded" href="/Yamaha/Trail" role="tab">Trail</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bg-secondary rounded" href="/Yamaha/Sport" role="tab">Sport</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bg-secondary rounded" href="/Yamaha/Naked" role="tab">Naked</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bg-secondary rounded" href="/Yamaha/Heritage" role="tab">Heritage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link bg-secondary rounded" href="/Yamaha/Touring" role="tab">Touring</a>
                </li>
            </div>
            <div id="menu">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Types
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a href="/Yamaha" class="nav-link bg-secondary rounded">All Types</a>
                    <a class="nav-link bg-secondary rounded" href="/Yamaha/Motorcross" role="tab">Motorcross</a>
                    <a class="nav-link bg-secondary rounded" href="/Yamaha/Crosscountry" role="tab">Cross country</a>
                    <a class="nav-link bg-secondary rounded" href="/Yamaha/Trail" role="tab">Trail</a>
                    <a class="nav-link bg-secondary rounded" href="/Yamaha/Sport" role="tab">Sport</a>
                    <a class="nav-link bg-secondary rounded" href="/Yamaha/Naked" role="tab">Naked</a>
                    <a class="nav-link bg-secondary rounded" href="/Yamaha/Heritage" role="tab">Heritage</a>
                    <a class="nav-link bg-secondary rounded" href="/Yamaha/Touring" role="tab">Touring</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Price
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/Yamaha/2/2000">Less than 2000</a>
                    <a class="dropdown-item" href="/Yamaha/2/5000">Less than 5000</a>
                    <a class="dropdown-item" href="/Yamaha/2/10000">Less than 10000</a>
                    <a class="dropdown-item" href="/Yamaha/2/30000">Less than 30000</a>
                    <a class="dropdown-item" href="/Yamaha/2/50000">Less than 50000</a>
                    <a class="dropdown-item" href="/Yamaha/2/70000">Less than 70000</a>
                    <a class="dropdown-item" href="/Yamaha/2/100000">Less than 100000</a>
                    <a class="dropdown-item" href="/Yamaha/2/200000">Less than 200000</a>
                </div>
            </div>
        </ul>
        {{^bikes}}
            <h3>NO BIKES</h3>
        {{/bikes}}
        <div class="row">
            {{#bikes}}
                <div class="col-6 p-3">
                    <a href="/{{id}}">
                        <img src="{{image}}" width="100%" height="90%" alt="#">
                        <h3>${{price}}</h3>
                        <p class="text-secondary">{{type}}</p>
                    </a>
                </div>
            {{/bikes}}
        </div>
    </div>

</div>
{{> footer}}